body{
    background-color: rgb(33, 33, 33);
}

.Logo{
    position: fixed;
    top: 40px;
    left: 220px;
    width: 450px;
    height: 200px;
}

.imagen{
    position: fixed;
    top: 500px;
    left: 350px;
    width: 240px;
    height: 200px;
}

.half-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #0f8488;
}

.container {
    width: 550px;
    height: 350px;
    margin: 0 auto;
    margin-top: -150px;
    margin-right: 250px;
    padding: 50px;
    font-family: 'Rubik', sans-serif;
    background-color: rgb(33, 33, 33);
    border: 1px solid rgb(33, 33, 33);
}

.Inicio{
    font-size: 64px;
    position: relative;
    color: rgb(255, 255, 255);
    left: 13.5%;
}

.Registro{
    font-size: 64px;
    position: relative;
    color: rgb(255, 255, 255);
    left: 17%;
}

.name{
    position: relative;
    left: 80px;
    font-size: 30px;
}

.password{
    position: relative;
    left: 135px;
    font-size: 30px;
}

.forms-container {
    position: relative;
}

form {
    display: none;
}

.active-form {
    display: block;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    width: 420px;
    left: 50px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    position: relative;
    margin-top: 20px;
    width: 200px;
    height: 50px;
    left: 160px;
    padding: 10px 20px;
    background-color: #32e1c4;
    color: #fff;
    border: none;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #32e1c4;
}

.toggle-form {
    position: relative;
    left: 51px;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    font-size: 12px;
}

.toggle-form a {
    position: relative;
    color: #32e1c4;
    text-decoration: none;
}

.toggle-form a:hover {
    text-decoration: underline;
}

.ayuda{
    position: fixed;
    bottom: 0;
    right: 250px;;
    padding: 10px;
    color: #fff;
}

.politicas {
    position: fixed;
    bottom: 0;
    right: 50px;;
    padding: 10px;
    color: #fff;
}